.product-listing {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 32px;
}

.product-listing__name {
	font-size: 14px;
	margin: 32px 0 0 0;
}

.product-listing__image {
	width: 100%;
	height: auto;
}