.search-bar {
	flex-grow: 1;
	display: flex;
	max-width: 350px;
}

.search-bar__input-field {
	padding: 12px;
	background: #333;
	width: 100%;
	box-sizing: border-box;
	border: none;
	color: #FFF;
	display: block;
	line-height: 16px;
	flex-grow: 1;
}

.search-bar__search-button {
	padding: 8px 12px;
	box-sizing: border-box;
	background: #0ca948;
	color: #FFF;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.search-bar__search-icon {
	fill: #FFF;
	display: block;
}